
.container{
/*     border: 2px dashed red;
 */}

.container-fluid{
/*     border: 2px dashed blue;
 */}

.navbar.bg-lightdark{
background-color: #2C3E50;
}

[class^='col']{
/*     border: 2px dashed orange;
 */    min-height: 50px;
}

section{
    min-height: 500px;
    border: 2px dashed green;
}