.navbar.bg-lightdark {
    background-color: #2C3E50;
}


#jumbotron,
#about, .card.bg-green {
    background-color: #1ABC9C;
}

.card-width {
    width: 30rem;
}



[class^='col'] {
    /*     border: 2px dashed orange;
 */
/*     min-height: 50px;
 */}

section {
/*     min-height: 500px;
 */    border: 2px dashed green;
}