
.container{
    border: 1px dashed red;
}

.container-fluid{
    border: 1px dashed blue;
}

header{
    border: 1px dashed dodgerblue;
    min-height: 100px;
}

[class^='col']{
    border: 2px dashed red;
    min-height: 100px;
}

.section{
    min-height: 400px;
    border: 2px dashedgreen;
}