
.container{
    border: 2px dashed red;
}

.container-fluid{
    border: 2px dashed blue;
}

header{
    border: 2px dashed dodgerblue;
    min-height: 100px;
}

[class^='col']{
    border: 2px dashed red;
    min-height: 100px;
}

section{
    min-height: 400px;
    border: 2px dashedgreen;
}