.navbar.bg-lightdark,
footer .footer-bottom {
    background-color: #2C3E50;
}


#jumbotron,
#about, .card.bg-green {
    background-color: #1ABC9C;
}


.card figure{
    width: 250px;
}


.line-item{
    width: 100px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
}

#contact .form-control{
    border-radius: 0;
    border-width: 0 0 1px 0;
}

.circle{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    border: 1px solid white
}


